table{
    margin: 20px 20px;
}

.first-table{
    table-layout: fixed;
    width: 500px;
    border-collapse: collapse;
    border: 2px solid black;
    text-align: center;
    background-color: lightgrey;
}

.first-table thead{
    background-color: yellow;
}

.first-table tfoot{
    background-color: #109310;
}

.first-table tfoot td:nth-child(1){
    text-align: right;
    background-color: #109310;
}

.first-table th,td{
    padding: 10px;
    border: 2px solid black;
}

.first-table td:nth-child(1){
    background-color: skyblue;
}

.first-table th:nth-child(1){
    width: 10%;
}

.first-table th:nth-child(2){
    width:40%;
}
.first-table th:nth-child(3){
    width:30%;
}
.first-table th:nth-child(4){
    width:20%;
}

.second-table{
    table-layout: fixed;
    width: 500px;
    border-collapse: collapse;
    text-align: center;
}

.second-table td,th{
    padding: 5px;
    border: 2px solid darkgrey;
}

.second-table tr:nth-child(1) th:nth-child(1){
    width:10%;

}

.second-table  tr:nth-child(2) th:nth-child(1){
    width: 20%;
}

.second-table  tr:nth-child(2) th:nth-child(2){
    width: 50%
}
.third-table{
    table-layout: fixed;
    width: 300px;
    height: 220px;
    border-collapse: collapse;
    text-align: center;
}
.fourth-table{
    width: 300px;
    height: 220px;
    table-layout: fixed;
}
.fourth-table img{
    width: 100%;
}
